footer {
    background: rgba(255, 255, 255, 0.915);
    position: fixed;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    bottom: 0;
     @include atransition(all 1s ease);


  &:hover {
    height: 175px;
  }

  .wr {
    border-top: 1px solid white;
  }

}
.down-menu {

    a {
      display: inline-block;
      padding-left: 18px;
      margin: 13px 25px;
      width: 100px;
    }
    .find {
      background: url("../img/loc.png") no-repeat;
    }
    .phone {
      background: url("../img/phone.png") no-repeat;
    }
    .chat {
      background: url("../img/chat.png") no-repeat;
      padding-left: 23px;
    }
  form {
    float:right;
    margin: 13px 25px 13px 0;
  }
}
.area {
    display: inline-block;
    margin: 10px 45px 10px 25px;
    width: 100px;

    li {
      &:first-child {
        padding-bottom: 10px;
      }
    }
}

a {
  text-decoration: none;
}