//header

header {
  background: #00ff88;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 45px;
  margin: 0 auto;
}

.logo {
  border: 1px solid blue;
  width: 93.14px;
  height: 42px;
  float: left;
  margin-left: 50px;
}

.logoimg {
  height: 42px;
}

// Main menu
.menu {
  & {
    margin-left: 250px;
    border: 1px solid red;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  li {
    display: inline-block;
    position: relative;
    float: left;
    border: 1px solid blue;
    margin: 2px 2px 0;

    &:hover .submenu {
      display: block;
    }
  }

  a {
    padding: 10px;
    display: block;
    text-decoration: none;

    &:hover {
      padding: 9px 10px;
      background: $primary-color;

      &:after {
        border-width: 1px;
        border-style: solid;
        bottom: 0;
        content: "";
        margin: auto;
        display: block;
        width: 30px;
      }
    }
  }

  .submenu {
    position: absolute;
    margin-left: -3px;
    display: none;
    background: #00ff88;

    li {
      a {
        margin-left: -3px;
        padding: 8px;

        &:hover {
          padding: 7px 6.5px;
          background: #ff9900;
          margin-left: 0;
        }
      }
    }
  }
}

#headv {
  border: 1px solid blue;
  margin: 0 auto;
  background: #00ff88;
  height: 45px;
}

.menu > li:hover .submenu {
  display: block;
}
