.wr {
    width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

body > section {
    min-height: 400px;
}

#part01 {
    background: url("../img/001.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 50px 0;

    h1, p {
        color: $white;
    }

    h1 {
        font-family: "Arial Black", sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 70px;
    }

    p {
        text-transform: uppercase;
    }
}

#part02 {
    background: url("../img/back.jpeg");
    background-position: top center;
    padding: 100px 0;

    h1, p {
        color: $black;
    }

    h1 {
        font-family: "Arial Black", sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 70px;
    }

    p {
        text-transform: uppercase;
    }

}


h1 {
    color: $black;
    font-family: Arial, sans-serif;
}